body {
    background-color: #0a0f14;
    font-family: 'Wotfard', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    justify-content: space-between;
}

.header {
    background-color: #111a25;
    display: flex;
    align-items: center;
    padding: 1em 3em;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 3em;
}

li, .nav {
    font-weight: bold;
    font-size: 20px;
    color: #F2F5F7;
}

.title {
    font-size: 32px;
    font-weight: bolder;
    color: #F2F5F7;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

img {
    width: auto;
    height: 336px;
    opacity: 0.5;
    border-color: #111a25;
    border-width: 8px;
    border-style: outset;
}

.gif {
    position: relative;
    text-align: center;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 1000;
    font-size: 50px;
    width: 50px;
    color: #F2F5F7;
    line-height: 70px;
}

a {
    color: #F2F5F7;
    text-decoration: none;
}

.footer {
    background-color: #111a25;
    display: flex;
    align-items: center;
    padding: 1em 3em 1em 3em;
    justify-content: center;
}

.cr {
    color: #F2F5F7;
    font-weight: lighter;
    font-size: 14px;
}

.flow-main {
    flex: 1;
    padding: 2em 3em;
}

.flow-title {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    color: #F2F5F7;
    margin-bottom: 1em;
}

.flow-text {
    color: #F2F5F7;
    font-weight: bold;
    text-align: center;
}